<h1> Indeksy </h1>
<%= link_to "Create new item" new_portfolio_path %>
<% @portfolio_item.each do |portfolio_items| %>
  <p> <%= portfolio_items.title %></p>
  <p> <%= portfolio_items.body %></p>
  <p> <%= portfolio_items.subtitle %></p>
  <%#=image_tag( portfolio_items.thumb_image) %> 
  <!-- polecenie wyzej wywala blad bo nie przekazujemy obrazu w akcji create i miniaturki
    ////////////////////////////////////////////////////////////////////////////////
    pamietaj zeby zamykać komentarze w html bo potem tracisz czas na szukanie takich błachych omyłek chłopie ogarnij sie !!!! -->
    <%= image_tag portfolio_items.thumb_image if !portfolio_items.thumb_image.nil? %>
    <%= link_to "Edit entry", edit_portfolio_path(portfolio_items.id) %> <!-- tu zwykłe dodawanie sciezki do edycji wybranego wpisu -->
<% end %>
